<a href="https://colab.research.google.com/github/soeun727/AI-Project-Corona/blob/main/Simple_Linear_Regression_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/soeun727/AI-Project-Corona

Cloning into 'AI-Project-Corona'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 19 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [2]:
%cd /content/AI-Project-Corona

/content/AI-Project-Corona

In [13]:
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False ## 마이나스 '-' 표시 제대로 출력
 
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression 

df = pd.read_csv('./dataset/ML_korea_covid_19_dataset.csv') ## 데이터 불러오기
df = DataFrame(df)

In [19]:
## sklearn linear regression 사용

x = df['Total_vaccination'].values.reshape(-1,1) ## 차원 증가 시켜준다.
y = df['Confirm']
df.dropna(how='all')
#fit = LinearRegression().fit(x,y) ## 단순선형회귀모형 적합

           Date   0-9 10월 19일  ... Total_vaccination  Confirm New_cases
0    2021-05-28  6134    9883  ...         4688520.0  138,898     533.0
1    2021-05-27  6122    9833  ...         4030744.0  138,311     587.0
2    2021-05-26  6096    9807  ...         3942775.0  137,682     629.0
3    2021-05-25  6052    9761  ...         3864784.0  136,983     699.0
4    2021-05-24  6034    9727  ...         3792906.0  136,467     516.0
..          ...   ...     ...  ...               ...      ...       ...
490  2020-01-24     0       0  ...               NaN        2       1.0
491  2020-01-23     0       0  ...               NaN        1       0.0
492  2020-01-22     0       0  ...               NaN        1       NaN
493  2020-01-21     0       0  ...               NaN        1       NaN
494  2020-01-20     0       0  ...               NaN        1       NaN

[495 rows x 17 columns]

In [17]:
fit = LinearRegression().fit(x,y)

ValueError: ignored