<a href="https://colab.research.google.com/github/soeun727/AI-Project-loan_payment/blob/main/%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%BD%94%EB%93%9C_Loan_Data_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **데이터 전처리**

In [ ]:
# 원본 데이터 불러오기
import numpy as np
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/AI test/loan_payment analysis/Loan payments data_원본.csv")

df.head()

       Loan_ID loan_status  Principal  ...  age             education  Gender
0  xqd20166231     PAIDOFF       1000  ...   45  High School or Below    male
1  xqd20168902     PAIDOFF       1000  ...   50              Bechalor  female
2  xqd20160003     PAIDOFF       1000  ...   33              Bechalor  female
3  xqd20160004     PAIDOFF       1000  ...   27               college    male
4  xqd20160005     PAIDOFF       1000  ...   28               college  female

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   200 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [ ]:
df['loan_status'].unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [ ]:
df['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [ ]:
df['Gender'].unique()

array(['male', 'female'], dtype=object)

**▼ 불필요한 열 삭제**


*   Loan_ID
*   effective_date
* due_date
* paid_off_time
* past_due_days

In [ ]:
# 사용하지 않을 4개의 열 삭제
df.drop(['Loan_ID', 'effective_date', 'due_date' , 'paid_off_time', 'past_due_days'] ,axis = 1, inplace = True)
df.head()

  loan_status  Principal  terms  age             education  Gender
0     PAIDOFF       1000     30   45  High School or Below    male
1     PAIDOFF       1000     30   50              Bechalor  female
2     PAIDOFF       1000     30   33              Bechalor  female
3     PAIDOFF       1000     15   27               college    male
4     PAIDOFF       1000     30   28               college  female


**▼ 문자열을 정수값으로 변환**
* loan_status: {'PAIDOFF': 0, 'COLLECTION': 1, 'COLLECTION_PAIDOFF': 2}
*   education: {'High School or Below': 0, 'college': 1, 'Master or Above': 3}
*   Gender: {'female': 0, 'male': 1}

In [ ]:
df["loan_status"]= df["loan_status"].replace(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'],["0","1","2"])
df["education"]= df["education"].replace(['High School or Below', 'college', 'Bechalor', 'Master or Above'],["0","1","2","3"])
df["Gender"]= df["Gender"].replace(['female', 'male'],["0","1"])
df.head()

  loan_status  Principal  terms  age education Gender
0           0       1000     30   45         0      1
1           0       1000     30   50         2      0
2           0       1000     30   33         2      0
3           0       1000     15   27         1      1
4           0       1000     30   28         1      0

In [ ]:
# 전처리가 적용된 데이터 뽑기
df_preprocessed = df.to_csv('Loan payments data_PreProcessed.csv')

# **데이터셋 분리**


*   train_data : test_data = 7 : 3

In [ ]:
from sklearn.model_selection import train_test_split

X = df.iloc[1:501,1:].values
y = df.iloc[1:501,0].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

In [ ]:
df_train = pd.DataFrame(X_train)
df_train.to_csv('Loan payments data_X_train.csv', index=False)
print(X_train)

[[1000 30 26 '1' '1']
 [1000 30 26 '2' '1']
 [1000 30 28 '1' '0']
 ...
 [800 15 29 '1' '1']
 [1000 30 24 '0' '1']
 [1000 15 45 '0' '1']]

In [ ]:
df_test = pd.DataFrame(X_test)
df_test.to_csv('Loan payments data_X_test.csv', index=False)
print(X_test)

[[1000 30 38 '0' '1']
 [1000 15 25 '1' '1']
 [1000 30 37 '1' '1']
 [1000 30 38 '0' '1']
 [1000 15 29 '1' '1']
 [1000 30 33 '1' '1']
 [1000 15 26 '2' '1']
 [1000 30 27 '0' '1']
 [800 15 32 '1' '1']
 [300 7 29 '1' '1']
 [1000 30 30 '1' '1']
 [800 30 23 '1' '0']
 [1000 30 41 '0' '1']
 [1000 30 27 '0' '0']
 [1000 30 30 '1' '1']
 [1000 30 28 '0' '1']
 [1000 15 37 '1' '1']
 [1000 30 37 '1' '1']
 [1000 15 47 '0' '1']
 [1000 30 38 '0' '1']
 [1000 15 24 '0' '1']
 [1000 15 30 '1' '0']
 [1000 30 30 '0' '1']
 [1000 15 34 '1' '1']
 [800 15 24 '0' '1']
 [1000 30 33 '0' '1']
 [1000 30 18 '1' '1']
 [1000 30 30 '1' '1']
 [1000 30 37 '1' '0']
 [1000 30 43 '2' '1']
 [1000 30 26 '1' '0']
 [1000 30 35 '1' '1']
 [800 15 35 '1' '1']
 [1000 15 27 '1' '1']
 [1000 30 30 '0' '0']
 [1000 30 28 '0' '1']
 [1000 15 27 '0' '1']
 [800 15 30 '0' '1']
 [1000 30 24 '1' '1']
 [1000 30 34 '2' '1']
 [1000 30 29 '1' '1']
 [1000 30 30 '1' '1']
 [800 15 33 '1' '1']
 [1000 15 29 '0' '1']
 [1000 30 50 '2' '0']
 [1000 30 26 '1' '1']
 [1000 30 38 '1' '0']
 [800 15 39 '0' '1']
 [1000 30 33 '1' '1']
 [1000 30 45 '0' '1']
 [800 15 31 '2' '0']
 [1000 30 38 '1' '1']
 [800 15 35 '0' '1']
 [1000 30 35 '2' '1']
 [800 30 26 '1' '1']
 [1000 30 26 '0' '1']
 [1000 15 32 '2' '1']
 [1000 30 28 '0' '1']
 [1000 30 29 '1' '1']
 [1000 30 29 '0' '1']
 [1000 30 33 '1' '1']
 [1000 15 32 '1' '0']
 [800 15 41 '1' '1']
 [1000 30 20 '1' '1']
 [800 30 31 '1' '1']
 [1000 30 34 '1' '1']
 [1000 30 35 '0' '1']
 [800 15 29 '0' '1']
 [1000 15 32 '0' '1']
 [1000 15 35 '2' '0']
 [1000 30 27 '1' '1']
 [1000 30 33 '1' '0']
 [1000 7 32 '2' '0']
 [800 15 29 '1' '1']
 [1000 15 29 '1' '1']
 [1000 30 28 '1' '1']
 [800 15 26 '1' '1']
 [1000 30 44 '0' '0']
 [800 15 33 '1' '1']
 [1000 30 42 '0' '0']
 [1000 30 28 '0' '1']
 [1000 30 38 '0' '1']
 [1000 30 26 '0' '1']
 [1000 15 22 '0' '1']
 [800 15 27 '1' '1']
 [1000 30 26 '1' '1']
 [1000 30 23 '0' '1']
 [1000 15 33 '1' '1']
 [800 15 43 '0' '1']
 [800 30 40 '1' '0']
 [800 15 40 '1' '1']
 [1000 30 27 '1' '0']
 [1000 30 31 '2' '1']
 [1000 30 25 '1' '0']
 [1000 30 40 '0' '1']
 [1000 30 35 '0' '1']
 [1000 30 26 '0' '1']
 [1000 30 26 '1' '1']
 [1000 30 37 '1' '1']
 [1000 30 21 '0' '1']
 [1000 30 26 '2' '1']
 [800 15 26 '0' '1']
 [1000 15 28 '2' '1']
 [1000 30 35 '2' '1']
 [1000 30 39 '1' '1']
 [1000 30 29 '1' '1']
 [1000 15 24 '1' '1']
 [1000 30 33 '1' '1']
 [800 15 39 '2' '1']
 [1000 15 27 '1' '1']
 [300 7 29 '0' '1']
 [1000 30 34 '0' '1']
 [1000 30 36 '0' '0']
 [1000 15 30 '1' '1']
 [800 15 33 '0' '1']
 [800 15 37 '0' '1']
 [800 15 36 '1' '1']
 [1000 30 27 '2' '1']
 [1000 15 25 '0' '1']
 [1000 30 20 '0' '1']
 [800 15 25 '0' '1']
 [800 15 27 '1' '0']
 [1000 15 34 '1' '1']
 [1000 15 26 '1' '1']
 [800 15 35 '2' '1']
 [1000 30 32 '1' '1']
 [1000 30 27 '1' '1']
 [1000 30 28 '1' '1']
 [1000 30 34 '0' '1']
 [800 15 44 '1' '1']
 [800 15 34 '1' '1']
 [800 15 44 '0' '0']
 [800 15 28 '1' '1']
 [1000 30 29 '0' '1']
 [1000 30 32 '0' '1']
 [1000 30 24 '1' '1']
 [1000 30 37 '0' '1']
 [1000 30 27 '1' '1']
 [1000 30 35 '1' '0']
 [1000 30 36 '1' '1']
 [800 15 35 '2' '1']
 [800 15 33 '1' '1']
 [1000 30 26 '1' '1']
 [1000 30 30 '0' '1']
 [1000 30 26 '1' '1']
 [800 15 21 '1' '1']
 [1000 30 29 '1' '1']
 [1000 30 23 '0' '1']
 [1000 30 22 '0' '1']
 [1000 15 32 '0' '1']]

In [ ]:
df_train2 = pd.DataFrame(y_train)
df_train2.to_csv('Loan payments data_y_train.csv', index=False)
print(y_train)

['2' '1' '0' '2' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0' '2' '0' '0' '0'
 '2' '0' '0' '0' '0' '0' '1' '1' '1' '0' '0' '2' '0' '1' '0' '0' '0' '1'
 '1' '1' '0' '2' '0' '0' '0' '1' '1' '0' '2' '0' '0' '0' '0' '0' '1' '0'
 '0' '0' '0' '0' '0' '1' '1' '1' '0' '0' '1' '2' '0' '0' '0' '2' '0' '0'
 '1' '0' '0' '2' '2' '0' '2' '1' '1' '0' '0' '0' '1' '0' '2' '0' '2' '0'
 '0' '0' '2' '0' '2' '2' '1' '0' '0' '2' '0' '0' '0' '0' '0' '2' '1' '0'
 '1' '0' '0' '1' '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1' '0' '2' '1'
 '1' '1' '0' '1' '0' '2' '0' '0' '2' '1' '1' '1' '0' '1' '2' '1' '2' '0'
 '0' '2' '1' '1' '2' '1' '0' '1' '0' '0' '0' '0' '0' '0' '0' '2' '0' '2'
 '1' '0' '0' '2' '0' '1' '1' '0' '1' '0' '2' '0' '0' '0' '0' '0' '1' '0'
 '0' '0' '0' '0' '0' '1' '1' '0' '0' '0' '0' '1' '1' '0' '0' '2' '1' '0'
 '0' '0' '2' '0' '0' '2' '0' '0' '2' '0' '0' '0' '0' '0' '0' '0' '0' '0'
 '1' '0' '2' '0' '1' '0' '0' '0' '0' '2' '0' '0' '0' '0' '2' '0' '1' '2'
 '0' '1' '0' '0' '0' '1' '2' '2' '0' '0' '2' '2' '1' '0' '0' '0' '0' '2'
 '0' '2' '2' '1' '1' '0' '0' '0' '0' '0' '2' '0' '1' '0' '0' '0' '1' '0'
 '2' '2' '0' '2' '0' '0' '0' '0' '2' '1' '0' '1' '2' '0' '1' '0' '0' '0'
 '1' '0' '1' '0' '0' '1' '2' '0' '1' '2' '1' '0' '0' '1' '0' '2' '0' '2'
 '0' '2' '0' '0' '0' '0' '1' '0' '0' '0' '1' '2' '0' '0' '2' '0' '1' '0'
 '2' '1' '0' '1' '0' '0' '0' '1' '0' '1' '0' '2' '1' '0' '2' '0' '2' '0'
 '0' '0' '0' '0' '1' '2' '0']

In [ ]:
df_test2 = pd.DataFrame(y_test)
df_test2.to_csv('Loan payments data_y_test.csv', index=False)
print(y_test)

['2' '0' '0' '0' '0' '2' '0' '0' '1' '0' '0' '0' '1' '0' '0' '2' '2' '0'
 '0' '2' '0' '0' '2' '0' '0' '0' '1' '2' '0' '0' '2' '0' '0' '0' '1' '0'
 '0' '0' '2' '0' '0' '2' '0' '1' '0' '0' '1' '0' '0' '1' '0' '2' '1' '0'
 '0' '1' '2' '2' '2' '0' '2' '0' '2' '0' '0' '0' '1' '0' '2' '0' '2' '0'
 '0' '0' '2' '0' '0' '0' '0' '2' '1' '2' '0' '2' '1' '0' '1' '2' '0' '0'
 '1' '0' '0' '2' '0' '0' '1' '0' '1' '1' '0' '0' '0' '2' '0' '2' '2' '1'
 '0' '0' '0' '2' '0' '0' '2' '0' '0' '2' '0' '1' '2' '2' '1' '0' '1' '0'
 '0' '0' '1' '0' '2' '0' '0' '0' '0' '0' '0' '2' '2' '0' '0' '2' '0' '0'
 '2' '0' '0' '0' '0' '0']